node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
/.pnp
.pnp.js

# dotenv environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Build output
/dist/
/build/

# Cache
.cache/
.next/
out/

# MacOS system files
.DS_Store

# Other
coverage/
*.log
